<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WestConnex Air Quality Measurements</title>
    <meta name="description" content="How is the air quality around WestConnex M4 and M5 construction?">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>What is the air quality around WestConnex M4 and M5 construction?</h1>
    <ul>
      <li><a href="/csv">Download the latest readings spreadsheet</a></li>
      <li><a href="/statistics">Look at some nerdy statistics</a></li>
    </ul>
    <p>
      The air quality surrounding WestConnex M4 and M5 construction is currently recorded at <%= Monitor.count %> locations:
      <%= @monitor_locations.join(', ') %>.
    </p>

    <table>
      <legend>
        What percentage of air quality readings have recorded particulate
        pollution levels above the allowed annual average since <%= AqmRecord.min(:latest_reading_recorded_at).strftime('%B %e') %>?
      </legend>
      <thead>
        <tr>
          <th>Monitor</th>
          <th>PM 2.5 µg/m³</th>
        </tr>
      </thead>
      <tbody>
        <% @monitors.each do |monitor| %>
          <tr>
            <th><%= monitor.display_name %></th>
            <td><%= monitor.percentage_of_pm2_5_readings_over_8.to_s %>%</td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p>
      These air quality readings were collected by WestConnex Contractor EcoTech
      and first published at <a href='http://airodis.ecotech.com.au/westconnex/index.html'>http://airodis.ecotech.com.au/westconnex/index.html</a>
      and <a href="http://airodis.ecotech.com.au/westconnexm5new/index.html">http://airodis.ecotech.com.au/westconnexm5new/index.html</a>.
    </p>
  </body>
</html>
