<% @statistics.each do |statistic| %>
  <h1><%= statistic[:location_name] %></h1>
  <p>Since <%= statistic[:first_record] %> we've collected <%= statistic[:record_count] %> readings.</p>
  <table>
    <thead>
      <tr>
        <th>Average PM2.5</th>
        <th>PM2.5 negatives</th>
        <th>Average PM10</th>
        <th>PM10 Negatives</th>
        <th>Average CO</th>
        <th>CO Negatives</th>
        <th>Average NO2</th>
        <th>NO2 Negatives</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= statistic[:avg_pm2_5_concentration_ug_per_m3] %></td>
        <td><%= statistic[:negatives_pm2_5_concentration_ug_per_m3] %></td>
        <td><%= statistic[:avg_pm10_concentration_ug_per_m3] %></td>
        <td><%= statistic[:negatives_pm10_concentration_ug_per_m3] %></td>
        <td><%= statistic[:avg_co_concentration_ppm] %></td>
        <td><%= statistic[:negatives_co_concentration_ppm] %></td>
        <td><%= statistic[:avg_no2_concentration_ppm] %></td>
        <td><%= statistic[:negatives_no2_concentration_ppm] %></td>
      </tr>
    </tbody>
  </table>
<% end %>
